$main-font: 'Roboto', sans-serif;

$icons: rgba(251, 98, 3, 0.984);
$white: rgb(255, 255, 255);
$orange: rgb(198, 111, 64);
$hover-btn: rgb(78, 122, 139);
$box-shadow-cards: rgba(0, 0, 0, 0.2);
$bkg-color-btn-reset: rgba(0, 0, 0, 0.2);
$bkg-color-footer: rgb(158, 181, 167);
$bkg-color-hero: rgb(211, 229, 223);
$bkg-cards-selected: rgba(161, 207, 149, 0.522);
$bkg-body: rgb(240, 252, 255);
$font-color-main: rgb(66, 66, 66);
$color-sub-font: rgb(107, 127, 135);
