// fonts
$main-font: 'Roboto', sans-serif;
// colors
$bkg-color: rgb(211, 229, 223);
$color-bkg-btn: #eff9ff;
$white: rgb(255, 255, 255);
$orange: rgb(225, 158, 35);
$hover-btn: rgb(78, 122, 139);
$bkg-color-footer: rgb(177, 207, 221);
$color-main-font: rgb(66, 66, 66);
$bkg-cards-selected: rgba(149, 185, 207, 0.522);
$icons: rgba(251, 98, 3, 0.984);
$bkg-body: rgb(240, 252, 255);
$color-sub-font: rgb(107, 127, 135);
$color-bkg-btn: rgba(0, 0, 0, 0.2);
