.content-fav {
  border-right: solid 1px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 26rem);
  place-items: center;
}
.icons {
  color: $icons;
}
.delete-btn {
  border: none;
  background: none;
  padding-top: 1rem;
}
.fa-solid {
  font-size: 2rem;
  color: rgb(76, 78, 79);
}
.fa-solid:hover {
  cursor: pointer;
  transition: all 0.2s;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem $bkg-color-btn-reset;
}
.reset-favorites-btn {
  display: block;
  width: 8rem;
  height: 2.5rem;
  background-color: $hover-btn;
  color: $white;
  border: none;
  border-radius: 5%;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem $bkg-color-btn-reset;
  }
}
