.content-fav {
  border-right: solid 1px;
  min-height: 65vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  justify-content: center;
}
.icons {
  color: $icons;
}
.delete-btn {
  border: none;
  background: none;
}
.fa-solid:hover {
  cursor: pointer;
  transition: all 0.2s;
  transform: translateY(-0.2rem);
}
.reset-favorites-btn {
  display: block;
  width: 8rem;
  height: 2.5rem;
  margin-left: 4.5rem;
  background-color: $hover-btn;
  color: $white;
  border: none;
  border-radius: 5%;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem $bkg-color-btn-reset;
  }
}
