.title {
  padding-top: 1rem;
  padding-bottom: 2rem;

  &-main {
    font-size: 3rem;
  }
}
.content {
  display: grid;
  grid-template-columns: 0.17fr 1fr;
  grid-gap: 2rem;
  padding-top: 5rem;
  font-size: 1.3rem;
  @media (min-width: 1500px) {
    grid-template-columns: 0.1fr 1fr;
  }
}
.content-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  grid-gap: 4rem;
  margin-bottom: 10rem;
}
.list-element {
  width: 17rem;
  list-style: none;
  margin-top: 1.5rem;
}
.article-character {
  width: 200px;
  padding-bottom: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 $box-shadow-cards;
  &:hover {
    box-shadow: 0 8px 16px 0 $box-shadow-cards;
    background-image: linear-gradient(to bottom, rgb(230, 250, 236), rgb(197, 213, 206));
  }
}
.image-container {
  height: 220px;
  max-width: 150px;
}
.image-characters {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  object-fit: cover;
  padding-top: 1rem;
  border-radius: 12%;
}
.section-characters {
  padding-top: 2.8rem;
}
.section-characters,
.section-favorites {
  text-align: center;
}
.selected {
  background-color: $bkg-cards-selected;
}
