.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bkg-color-footer;
  height: 4vh;
  color: $color-footer;
}
