.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  width: 70vw;
  height: 8vh;
}
.section-form-input {
  border: solid 2px $orange;
  width: 60vw;
  padding: 0.8rem;
  margin: 3rem;
}
.btn__search {
  background-color: $orange;
  color: $white;
  border: none;
  border-radius: 5%;
  width: 5.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    border: solid 1px $orange;
    background-color: $hover-btn;
  }
}
