.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 144, 144);
}

.section-form-input {
  border: solid 2px $orange;
  width: 60vw;
  padding: 0.8rem;
  margin: 1.5rem;
  letter-spacing: 0.2rem;
}
.btn__search {
  background-color: $orange;
  color: $white;
  border: none;
  border-radius: 5%;
  width: 8rem;
  height: 3rem;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
  cursor: pointer;

  &:hover {
    border: solid 1px $orange;
    background-color: $hover-btn;
  }
}
