.hero-image {
  background-color: $bkg-color;
  background-image: url('../images/breaking-bad2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  width: 100vw;
  @media (min-width: 1300px) {
    background-size: 60%;
  }
}
.walter-gif {
  position: absolute;
  padding-top: 1.6rem;
  width: 7rem;
  @media (min-width: 1500px) {
    width: 8rem;
  }
}
