.hero-image {
  background-color: $bkg-color-hero;
  background-image: url('../images/breaking-bad2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  @media (min-width: 1300px) {
    background-size: 60%;
  }
}

.gif-container {
  float: left;
  @media (max-width: 600px) {
    float: none;
    position: relative;
    top: -50px;
  }
}

.gif-image {
  width: 8rem;
  border-radius: 50%;
}
